<section class="section visit-section">
    <div class="container">
      <div class="row1">
        <div class="constraint">
            <br><br>
          <h2 class="heading text-center">The Events</h2>
        </div>
      </div>
      <br><br>
      <div class="container row align-items-center">
        <div class="col-lg-3 col-md-6 visit mb-3" data-aos-delay="300">
          <a href="hotel.html"><img src="/assets/festiv.jpg" alt="Image placeholder" class="img-fluid"> </a>
          <h3><a href="hotel.html">Festivals</a></h3>
          <div class="reviews-star float-left">
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star-outline"></span>
          </div>
          <span class="reviews-count float-right">
            2,112 reviews
          </span>
        </div>
        <br><br>

        <div class="col-lg-3 col-md-6 visit mb-3"  data-aos-delay="400">
          <a href="yacht.html"><img src="/assets/foot.jpg" alt="Image placeholder" class="img-fluid"> </a>
          <h3><a href="yacht.html">Sports</a></h3>
          <div class="reviews-star float-left">
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star-outline"></span>
          </div>
          <span class="reviews-count float-right">
            6,421 reviews
          </span>
        </div>
        <div class="col-lg-3 col-md-6 visit mb-3" data-aos-delay="200">
            <a href="restaurant.html"><img src="/assets/cinema.jpg" alt="Image placeholder" class="img-fluid"> </a>
            <h3><a href="#">Cinema</a></h3>
            <span class="reviews-count float-right">
              3,239 reviews
            </span>
          </div>
      </div>
    </div>
  </section>