<div class="top-section bg-blue-200 p-4">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section flex items-center">
    <div class="widget bg-gray-200 p-2">
        <app-servicebymounth></app-servicebymounth>
    </div>
    
    <div class="chart">
        <div class="widget p-2">
            <app-eventbycategory></app-eventbycategory>
        </div>
        <div class="widget p-2">
            <app-servicebycategory></app-servicebycategory>
        </div>
    </div>
</div>

