<app-navbar></app-navbar>
<!-- <app-caroussel></app-caroussel> -->
<!-- <div class="container">
    <div class="row">
    <div class="col-lg-6 wow fadeInUp">
        <button class="btn btn-primary">add post </button>
    </div>
    <div class="col-lg-6 wow fadeInUp">
    <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(70).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(72).webp" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(74).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center"
                src="https://tecdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp" />
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="constraint align-items-center " >
<app-tourist></app-tourist>
</div>
<div class="constraint align-items-center" >
<app-events></app-events>
</div>
<app-mytunisia></app-mytunisia>
<app-ourteam></app-ourteam>
<app-contact></app-contact>
<app-footer></app-footer> -->
<app-navbar></app-navbar>
<main>
  <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
    <div class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("https://media.istockphoto.com/id/157215464/fr/photo/sidi-bou-sa%C3%AFd-%C3%A0-tunis.jpg?s=612x612&w=0&k=20&c=-R3K5xJhRWPCfGDead64h8gR86r-k2axNydDbtQ0Vno=");'>
      <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-serif text-5xl">
              habiby welcome to Tunisia.
            </h1>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-events></app-events>
  <app-add-post></app-add-post>
  <app-ourteam></app-ourteam>
  <app-evaluation></app-evaluation>
  <app-contact></app-contact>
</main>
<app-footer></app-footer>