@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo", sans-serif;
    background-color: #d8d8d8;
    font-size: 16px; /* Default font size */
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjusted font size for smaller screens */
    }
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 12px; /* Further adjustment for smaller screens */
    }
}
