
<div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/800px-Flag_of_Tunisia.svg.png" alt="">
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Our Tunisia
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
          Immerse yourself in the rich tapestry of this beautiful country, where history, culture, and natural wonders converge.<br>
          From the ancient ruins of Carthage to the vibrant markets of Tunis, each corner of Tunisia tells a unique story. <br>
          Explore the warmth of its people, savor the flavors of traditional cuisine, and discover the diverse landscapes that make
          Tunisia a captivating destination. <br>
          Join us on a journey through the heart of North Africa, where modernity meets tradition, and where 
          the spirit of Tunisia comes alive..
          </p>
          
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
          >
          <iframe src="https://assets.pinterest.com/ext/embed.html?id=814307176407019014" height="514" width="345" frameborder="0"  ></iframe>
          
          </div>
        </div>
      </div>