<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-eventsbymounth></app-eventsbymounth>
    </div>
    <div class="widget right">
        <app-servicebymounth></app-servicebymounth>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-eventbycategory></app-eventbycategory>
    </div>
    <div class="widget right">
        <app-servicebycategory></app-servicebycategory>
    </div>
</div>