.top-section, .middle-section, .bottom-section {
    display: flex;
    justify-content: space-between;

    .widget {
        height: 350px;
        width: calc((100% - 50px) / 2);
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;

        @media only screen and (max-width: 1600px) {
            width: calc((100% - 40px) / 2);
        }

        @media only screen and (max-width: 1500px) {
            width: calc((100% - 40px) / 2);
        }

        @media only screen and (max-width: 1400px) {
            width: calc((100% - 40px) / 2);
        }

        @media only screen and (max-width: 1200px) {
            width: calc((100% - 30px) / 2);
        }
    }
}
