<!-- <section class="section visit-section">
    <div class="container">
      <div class="row1">
        <div class="constraint">
            <br><br>
          <h2 class="heading text-center">The Events</h2>
        </div>
      </div>
      <br><br>
      <div class="container row align-items-center">
        <div class="col-lg-3 col-md-6 visit mb-3" data-aos-delay="300">
          <a href="hotel.html"><img src="/assets/images/festiv.jpg" alt="Image placeholder" class="img-fluid"> </a>
          <h3><a href="hotel.html">Festivals</a></h3>
          <div class="reviews-star float-left">
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star-outline"></span>
          </div>
          <span class="reviews-count float-right">
            2,112 reviews
          </span>
        </div>
        <br><br>

        <div class="col-lg-3 col-md-6 visit mb-3"  data-aos-delay="400">
          <a href="yacht.html"><img src="/assets/images/foot.jpg" alt="Image placeholder" class="img-fluid"> </a>
          <h3><a href="yacht.html">Sports</a></h3>
          <div class="reviews-star float-left">
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star"></span>
            <span class="ion-android-star-outline"></span>
          </div>
          <span class="reviews-count float-right">
            6,421 reviews
          </span>
        </div>
        <div class="col-lg-3 col-md-6 visit mb-3" data-aos-delay="200">
            <a href="restaurant.html"><img src="/assets/images/cinema.jpg" alt="Image placeholder" class="img-fluid"> </a>
            <h3><a href="#">Cinema</a></h3>
            <span class="reviews-count float-right">
              3,239 reviews
            </span>
          </div>
      </div>
    </div>
  </section> -->
  
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <h6 class="text-xl font-semibold">Events</h6>
              
                <img class=" rounded-lg shadow-lg" src="https://www.leaders.com.tn/uploads/content/thumbnails/143793739133_content.jpg" alt="">
                
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              
              <h6 class="text-xl font-semibold">Accomodations</h6>
              <img class=" rounded-lg shadow-lg" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/38/af/1b/hotel-royal-azur-thalassa.jpg?w=1200&h=-1&s=1" alt="">
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <h6 class="text-xl font-semibold">food & drinks</h6>
              <img class=" rounded-lg shadow-lg" src="https://www.tacapes-tours.com/wp-content/uploads/2022/07/Tunisian-Food-display.jpeg" alt="">
            </div>
          </div>
        </div>
      </div>
      <app-mytunisia></app-mytunisia>
      </div>
      </section>