    <div class="container-xxl py-5" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-85" src="/assets/cafe.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <br><br>
                    <h6 class="section-title text-start pe-3">About Our Tunisia</h6>
                    <h1 class="mb-4">Annestouna(Welcome) </h1>
    <p>Immerse yourself in the rich tapestry of this beautiful country, where history, culture, and natural wonders converge.<br>
     From the ancient ruins of Carthage to the vibrant markets of Tunis, each corner of Tunisia tells a unique story. <br>
     Explore the warmth of its people, savor the flavors of traditional cuisine, and discover the diverse landscapes that make
      Tunisia a captivating destination. <br>
      Join us on a journey through the heart of North Africa, where modernity meets tradition, and where 
      the spirit of Tunisia comes alive.</p>
                      </div>
            </div>
        </div>
    </div>