<form class="max-w-sm mx-auto">
    <div class="relative">
      <select id="states-select" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" aria-labelledby="states-button">
        <option value="">Sort</option>
        <option value="AL">Price ASC</option>
        <option value="AK">Price DESC</option>
        <option value="AZ">Date</option>
        <!-- Add more options as needed -->
      </select>
    </div>
</form>