<div class="flex flex-wrap">
    <div *ngFor="let service of services" class="flex-grow-0 flex-shrink-0 p-4 border rounded-lg shadow-md mb-4 mr-4" style="width: 300px;">
        <h2 class="flex items-center justify-between">
            <span class="text-xl font-bold">{{ service.name }}</span>
            
        </h2>
        <p class="text-gray-600">{{ service.description }}</p>
        <p class="text-gray-800">Price: {{ service.price }}$</p>
        <p class="text-gray-800">Category: {{ service.category }}</p>
        <p class="text-gray-800">Location: {{ service.location }}</p>

        <div class="flex items-center mt-4">
            <img *ngIf="service.image" [src]="'http://localhost:3001/api/services/getimage/' + service._id" alt="Service Image" class="w-16 h-16 mr-10">
            <div>
                <a *ngIf="service.document" [href]="'http://localhost:3001/api/services/download/' + service._id + '/document'" target="_blank" class="text-blue-500">View Document</a>
            </div>
            <span>
                <button class="px-2 py-1 text-xs font-semibold leading-none text-white bg-blue-500 rounded hover:bg-blue-600 mr-2" onclick="approve(service._id)">Accept</button>
                <button class="px-2 py-1 text-xs font-semibold leading-none text-white bg-red-500 rounded hover:bg-red-600" onclick="deleteService(service)">Refuse</button>
            </span>
        </div>
    </div>
</div>
