<div class="container mx-auto mt-10">
    <h1 class="text-2xl font-bold mb-6">User List</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let user of users" class="bg-white rounded-lg shadow-lg p-6">
        <img [src]="user.avatar" alt="Avatar" class="w-16 h-16 rounded-full mx-auto mb-4">
        <h2 class="text-xl font-semibold text-center">{{ user.username }}</h2>
        <p class="text-center text-gray-600">{{ user.email }}</p>
        <p class="text-center text-gray-600">Role: {{ user.role }}</p>
        <p class="text-center text-gray-600" *ngIf="user.verified">Verified</p>
        <p class="text-center text-gray-600" *ngIf="!user.verified">Not Verified</p>
        <div class="mt-4 flex justify-between">
          <button class="btn-refuse bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded" (click)="deleteUser(user._id)">Delete</button>
      </div>
    </div>
    </div>
</div>
