<<<<<<< HEAD:Admin/src/app/requests/requests.component.scss
.img-container {
    max-width: 100%;  /* Maintain aspect ratio while scaling to container width */
    height: 200px;  /* Set a desired fixed height for consistent display */
    object-fit: cover;  /* Maintain aspect ratio when scaling within the height */
    
  }
  
=======
>>>>>>> 8abc042b25d79bc46e35cbcefe1833c1611a4e83:Admin/Admin-Dashboard-Starter/src/app/requests/requests.component.scss
