<div class="widget-container">
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faCalendar"></fa-icon>
    </div>
    <div class="value">
      <div class="top">124</div>
      <div class="bottom">Events</div>
    </div>
  </div>
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Touristic Services</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346</div>
        <div class="bottom">Total Users</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faEye"></fa-icon>
      </div>
      <div class="value">
        <div class="top">295458</div>
        <div class="bottom">Views</div>
      </div>
    </div>
    
    
  </div>